<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict/>
		<key>sheetOrder</key>
		<real>488859520.13527</real>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>e70890754d7842ec0e7b314beccbaa8e76bf5cd2f2dc60e258121c0a6ad6c880</key>
			<integer>1</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>e70890754d7842ec0e7b314beccbaa8e76bf5cd2f2dc60e258121c0a6ad6c880</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
